{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.3"}
  io.github.clojure-quant/quanta-market {:mvn/version "0.1.115"}
  io.github.clojure-quant/quanta-dag-algo {:local/root ".." :deps/manifest :deps}}

 :aliases
 {;
  }}
